.flashcard {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

/* .flashcard button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
}

.flashcard button:hover {
  background-color: #0062cc;
} */


  