.flashcard-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flashcard-container {
  margin: 20px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.input-container input {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-container button {
  background-color: #f9f4ef;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  padding: 10px 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.button-container button {
  background-color: #f9f4ef;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  padding: 10px 20px;
}

.flashcard-list button:hover {
  background-color: #8c7851;
}


.feedback-container {
  margin: 20px;
  text-align: center;
}

.correct-feedback {
  color: green;
}

.incorrect-feedback {
  color: red;
}


